<style type="text/css">

* #MenuMultimedia{
	            width:1000px;
	            height:auto;
				margin: 0 auto;
				position:relative;
				font-family:Arial, Helvetica, sans-serif;
			}

			 body {
			     background-image:url(../img/hongo.jpg);
			     background-repeat: no-repeat;
			     background-size: cover;
                 }

                 h1 {
                 	font-family:Franklin Gothic Italic;
                 	color:#66FFFF;
                 	margin-top:60px;
                 	font-size: 30px;
                 	text-align:center;
                 }	

                 h2 {
                 	font-family:Franklin Gothic Heavy;
                 	color: #006680;
                 	margin-top:50px;
                 	font-size: 45px;
                 	text-align:center;
                 }
                 h3 {
                    font-family:Franklin Gothic Italic;
                    color: blue;
                    margin-top:50px;
                    font-size: 20px;
                    text-align:center;
                 }
                 header {
                    width:1000px;
                    height:500px;
                    margin:0px;
                }
                 nav {
                    width:80px;
                	margin:0 auto;
                    height:40px;
                	padding:0;
                	float:center;
                    border-top-right-radius:0;
                    border-left-right-radius:0;
                 }
                 nav ul ul{
                    display:none;
                 }
                 nav ul li:hover > ul{
                    display:block;
                 }
                 nav ul {
                    background: #006680;
                    padding:0 10px;
                    list-style: none;
                    position: relative;
                    display: inline-table;
                 }
                 nav ul li{
                    float: center;
                 }
                 nav ul li:hover{
                    background: #333333;
                 }
                 nav ul li:hover a{
                    color:yellow;
                }
                nav ul li a {
                    display: block;
                    padding:10px 15px;
                    text-decoration: none;
                    color:black;
                 }
                nav ul ul{
                    background: #006680;
                    border-radius:10px;
                    padding: 0;
                    position: absolute;
                    top:100%;
                }
                 nav ul ul li{
                    float:none;
                 }
                 nav ul ul li a {
                    padding:30px 100px;
                    color: black;
                    padding-left:30px;
                 }
                 nav ul ul li a:hover{
                    background: #333333;
                 }

      ul{
        margin:auto;
        padding-top:10px;
    }
    li{
        font-size: 50px;
        font-family: Tahoma;
        font-weight: bolder;
         line-height: 5px;
        float:left;
        list-style-type:none;
        padding: 5px;
        color: white;
        margin:8px;
    }
     a {
        text-decoration: none;
        font-size: 20px;
        background: #006680;
    }
section{
    width:1100px;
    background: #B3B3B3;
    height: 650px;
    float:  center;
    margin-top: 100px;
    border-radius: 80px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
footer{
    width:600px;
    height: 200px;
    background: #333333;
    float:  center;
    margin-top: 90px;
    border-radius: 60px;
    border-top-right-radius:0; 
    border-top-left-radius: 0;
}
p{
    font-size: 20px;
    font-weight: bolder;
    line-height: 15px;
    font-family:Franklin Gothic Italic;
    text-align: justify;
    margin-right:14px;
    margin-left: 14px;
    color: black;
}	

iframe{
margin: 20px;
position: center;
border:20px;
}
